<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Image</title>
</head>
<body>
    <h1>Your Generated Image</h1>
    <h2>Like what you see? Add your email to get this photo!</h2>

    <form action ="{{ url_for('send_email') }}" method="post">
        <input type="email" name="user_email" placeholder="Enter your email" required>
        <button type="submit">Send Image</button>
    </form>

    <!-- Display an image on a screen -->
    {% if session['framed_image_filename'] %}
    <img src="{{ url_for('static', filename=session['framed_image_filename']) }}" alt="Polaroid Image">
    {% else %}
        <p>Sorry, there was an error displaying your image.</p>
    {% endif %}

    <!-- Email status message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


</body>
</html>
