<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Generated Image</title>
</head>
<body>
    <h1>Your Generated Image</h1>
    <h2>Like what you see? Add your email to get this photo!</h2>

    <form action ="{{ url_for('send_email') }}" method="post">
        <input type="email" name="user_email" placeholder="Enter your email" required>
        <button type="submit">Send Image</button>
    </form>

    <!-- Display an image on a screen -->
    {% if session['framed_image_filename'] %}
    <img src="{{ url_for('static', filename=session['framed_image_filename']) }}" alt="Polaroid Image">
    {% else %}
        <p>Sorry, there was an error displaying your image.</p>
    {% endif %}


</body>
</html>
