<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles3.css') }}">
    <title>Generated Image</title>
</head>
<body>
    <a href="{{ url_for('home') }}" class="home-link">Go back to home</a>
    <div class="container">
        <div class="contents-container">
            <div class="image-container">
                {% if session['framed_image_filename'] %}
                <img src="{{ url_for('static', filename=session['framed_image_filename']) }}" alt="Polaroid Image" class="polaroid-image">
                {% else %}
                <p>Sorry, there was an error displaying your image.</p>
                {% endif %}

                <img src="{{ url_for('static', filename='images/timestamp.png') }}" alt="Additional Image" class="stamp-image">
            </div>

            <form action="{{ url_for('send_email') }}" method="post">
                <div class="input-group">
                    <div class="email-input">
                        <div class="email-background">
                            <input type="email" name="user_email" class="user-email" placeholder="Drop an email to get this photo!" required>
                        </div>  
                    </div>

                    <div class="send">
                        <button type="submit" class="send-button">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>