<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>User Input Form</title>
    <title>Suggested Art Styles</title>
</head>
<body>
    <div class="form-container">
        <img src="../static/imagessticky-note.png" class="top-image">
        <div class="content-container">

            <div class="text-container">
                <h2>ReminisceAI</h2>
                <h3>Describe a cherished memory or moment you'd like to bring to life.</h3>
            </div>  

            <div class="input-container">
                <form action="/" method="post">
                    <div class="longer-input">
                        <div class="input-background">
                            <input type="text" id="emotion" name="emotion" autocomplete="off"  placeholder="How did you feel?"><br>
                        </div> 
                    </div>

                    <div class="second-input-row">
                        <div class="input-background">
                            <input type="text" id="location" name="location" autocomplete="off"  placeholder="Location"><br>
                        </div> 

                        <div class="input-background">
                            <input type="text" id="characters" name="characters" autocomplete="off"  placeholder="Characters"><br>
                        </div> 
                    </div>
                    
                    <div class="third-input-row">
                        <div class="input-background">
                            <input type="text" id="atmosphere" name="atmosphere" autocomplete="off"  placeholder="Atmosphere"><br>
                        </div> 
                        
                        <div class="input-background">
                            <input type="text" id="event" name="event" autocomplete="off"  placeholder="Event"><br>
                        </div> 
                    </div>
                    
                    <div class="button">
                        <button type="submit" class="paper-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>  
    </div>
    
    <div>
        {% for style in art_styles %}
        <button>{{ style }}</button>
        {% endfor %}
    </div>
    
</body>
</html>
