<!DOCTYPE html>
<html>
<head>
    <title>User Input Form</title>
</head>
<body>
    <h2>What were the most memorable things in the last month?</h2>
    <form action="/" method="post">
        <textarea id="userResponse" name="text" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

    {% if sentiment_result is not none %}
        <div id="result">
            <h3>Sentiment Analysis Result:</h3>
            <p>{{ sentiment_result }}</p>
        </div>
    {% endif %}
    {% if image_url is not none %}
        <div>
            <h3>Generated Image:</h3>
            <img src="{{ image_url }}" alt="Generated Image">
        </div>
    {% endif %}
</body>
</html>
